.question-card {
    background-color: #b1acac;
    min-height: 52px;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 8px;
    padding: 10px 28px;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 20px;
}