// ----------------------- Product Price  -----------------------

.product-Price {
    color: orange;
    font-weight: 900;
    font-size: 40px;
}

// ----------------------- Product Description -----------------------

.productDetail-description {
    min-height: fit-content;
    width: 100%;
    border-top: 2px solid #a19c9c;
    margin: 18px 0px;
    padding: 14px 0px;
}


// ----------------------- Product Detail card -----------------------

.productDetail-card{
    width: 100%;
}

@media screen and (max-width:551px) {
    .productDetail-card{
        width: fit-content;
    }
}


// ----------------------- Product Quantity -----------------------

.product-quantity{
    border: 1px solid;
    width: 139px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    margin: 11px;
    i{
        cursor: pointer;
    }

    span {
        height: 50px;
        border-left: 1px solid;
        border-right: 1px solid;
        padding: 10px 17px;
    }
}

// ----------------------- Add To cart Btn -----------------------

button.add-cart-btn {
    border: 0;
    background: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 30px;
    margin: 16px 0px;
    transition: all .5s ease-in-out;
}

button.add-cart-btn:hover {
    border: 1px solid black;
    background: white;
    color: black; 
}